//
// Colors
//
$white: #ffffff;
$black: #000000;

$color-font: #3D3D3D !default;
$color-font-light: #ADADAD !default;
$color-background: #F0F0F0 !default;

$color-client-rot: #bd0034 !default;
$color-client-rot-accent: #71001f !default;

//
// Fonts
//
$defaultfont: sans-serif !default;
